@charset "utf-8";

/*기본값*/
* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {

    font-family: 'Pretendard';
    line-height: 24px;
    font-size: 16px;
    color: #ffffff;
    min-width: 1450px;
    overflow: hidden;

}



/*이미지변경없는 버튼모음*/
.nochange {
    position: relative;
}

.bestpd_navy1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 37px;
    background-color: #192C3E;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;

}

.buy1 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.nochange:hover .buy1 {
    opacity: 1;
}



.gray4 a {
    width: 480px;
    height: 300px;
    background-color: #E2E2E2;
    color: #192C3E;
    font-weight: bold;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

}


.gray4 a:hover {
    background-color: #192C3E;
    color: #fff;
}