@charset "utf-8";


/*기본값*/
* {
    margin: 0;
    padding: 0;

}


img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {

    font-family: 'Pretendard';
    line-height: 24px;
    font-size: 16px;
    color: #ffffff;
    min-width: 1450px;
}

/* 스크롤바 가로 사이즈 */
::-webkit-scrollbar {
    width: 7px;
}

/* 스크롤바 막대기 */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #2EA98C;
}

/* 스크롤바 백그라운드 */
::-webkit-scrollbar-track {
    background-color: #000000;
}

/* 스크롤바 가로 사이즈 */
::-webkit-scrollbar {
    width: 7px;
}

/* 스크롤바 막대기 */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #2EA98C;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #EE5844;
}

::-webkit-scrollbar-thumb:active {
    background-color: #EE5844;
}

/* 스크롤바 백그라운드 */
::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-track:hover {
    background-color: #000000;
}


/*탑 텍스트 박스*/
.text_slide {
    font-size: 15px;
    width: 2500px;
    color: #000;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.text_wrapper {
    animation: text_ani 30s linear infinite;
    display: flex;
    width: 5000px;
    position: relative;
}

.text_box {
    overflow: hidden;

}

@keyframes text_ani {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/*헤더*/
#header {
    background: #000;


}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;

}

/*메인배너*/

.mb {
    position: relative;
}

.mb img {
    width: 100%;

}

.main_title {
    position: absolute;
    top: 35%;
    left: 10%;
    color: #000000;
    font-size: 45px;
    font-weight: 500;

}

.main_title1 {
    position: absolute;
    top: 35%;
    left: 10%;
    color: #ffffff;
    font-size: 45px;
    font-weight: 500;

}

.mtitle {
    line-height: 55px;
}

.main_small {
    font-size: 16px;
    padding: 60px 0px;
    font-weight: 200;
}

.main_small a {
    color: black;
}

.main_btn a {
    color: #000;
    font-size: 14px;
    background-color: #fff;
    padding: 10px 70px 10px 20px;
    border-radius: 25px;

}

/*키워드*/
#keyword {
    padding: 90px;
    margin: 0px;
    border-bottom: 1px solid #000;
}

.kw_inner {
    width: 1100px;
    margin: 0px auto;
    font-size: 35px;
    color: #000;
    font-weight: bold;

}

.kw_inner img {
    padding-right: 7px;
    padding-left: 7px;
}

.kw_inner2 {
    width: 1100px;
    margin: 0px auto;
    padding: 90px 0px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}

.list1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;

}

.list1 p img {
    width: 39px;
}

.iconbox {
    display: flex;
}

.iconbox li img {
    width: 39px;
}

.iconbox a {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    font-family: "pretendard";
    display: block;

}

.iconbox a:hover {
    background-color: #ff8484;
    transition: all 0.5s;
}


.iconbox2 {
    display: flex;
}

.iconbox2 li img {
    width: 39px;
}

.iconbox2 a {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    font-family: "pretendard";
    display: block;

}

.iconbox2 a:hover {
    background-color: #ff8484;
    transition: all 0.5s;
}

.iconbox li:nth-last-child(1) a {
    margin-left: 0px;
}

.iconbox2 li:nth-child(4) a {
    margin-left: 10px;
}

/*주간 베스트*/


#best {
    background: #000;
    padding: 80px 0px;
}

.best_inner {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.best_title {
    font-size: 35px;
    padding-bottom: 20px;
}

.best_contents {
    color: #8D8D8D;
    font-size: 20px;
    padding-bottom: 30px;

}

.swiper-slide img {
    width: 100%;
}

.swiper-slide {
    position: relative;
}


.swiper-slide:hover .black_box {
    opacity: 1;
    transition: all 0.5s;
}

.black_box {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #2EA98C;

}

.text_box {
    text-align: center;
}

.text_box h1 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 10px;
}

.text_box h3 {
    font-size: 19px;
    padding-bottom: 5px;
}

.best_btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2EA98C;
    border-radius: 30px 30px 30px 30px;
}

.best_btn a {
    color: #fff;
}




/*키워드버튼*/
.btn {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 250px;
    font-size: 18px;
    font-weight: 600;
    font-family: "pretendard";
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #6B8DD6, #8E37D7);
}

/*서브배너*/
#sub_banner {
    background: url(../images/main_bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 252px;
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub_text p {
    font-size: 25px;
    padding-top: 100px;
    font-weight: 700;
}

.sub_text img {
    width: 114px;
    padding-right: 20px;
}

/*정기구독*/
#main_sub {
    background: url(../images/main_bg1.png) no-repeat;
    background-size: cover;
    height: 970px;
}

.msub_in {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.msub_title {
    padding-top: 250px;
    font-size: 55px;
    line-height: 90px;
    text-align: center;

}

.red_under {
    background: url(../images/sub_red.png) no-repeat left bottom;
}


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.button {
    width: 218px;
    height: 74px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: "pretendard";
    background-color: transparent;
    border: 2px solid #EE5844;
    border-radius: 45px;

    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #EE5844;
    color: #fff;
    transform: translateY(-7px);
}

.button2 {
    width: 266px;
    height: 74px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "pretendard";
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    background-color: transparent;
    border: 2px solid #EE5844;
    border-radius: 45px;

    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button2:hover {
    background-color: #EE5844;
    color: #fff;
    transform: translateY(-7px);
}

.text_slide2 {
    font-size: 35px;
    width: 3580px;
    padding: 20px;
    color: #000;
    display: flex;
    justify-content: space-around;
}

.text_wrapper2 {
    animation: text_ani 30s linear infinite;
    display: flex;
    width: 7160px;
}

.text_box2 {
    overflow: hidden;
}

@keyframes text2_ani {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/*how*/
.red {
    display: flex;

}

.purple {
    display: flex;

}

.red_box {
    background: url(../images/red.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 449px;
    width: calc(100% - 576px);

}

.pu_box {
    background: url(../images/purple.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 449px;
    width: calc(100% - 576px);
}

.red_text {

    padding: 60px;
    font-size: 35px;
    line-height: 50px;
    overflow: hidden;
}

.red_btn {
    padding: 60px;
    padding-top: 150px;
    text-align: right;
}

.red_btn a img {
    padding-left: 10px;
    animation: btn_ani 2s infinite;
}

.pu_btn a img {
    padding-right: 10px;
    animation: btn_ani 2s infinite;
}

/*애니메이션 동작설정*/
@keyframes btn_ani {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.pu_text {
    padding: 60px;
    font-size: 35px;
    line-height: 50px;
    text-align: end;
    overflow: hidden;
}

.pu_btn {
    padding: 60px;
    padding-bottom: 150px;
    text-align: left;
}

.red_btn a,
.pu_btn a {
    color: #fff;
}

.hr_lines {
    position: relative;
}

.hr_lines:after {
    content: "";
    height: 2px;
    width: 5000px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 450px;
}

.hr-lines {
    position: relative;
    /*  new lines  */
    max-width: 2000px;
    margin: 100px auto;
    text-align: center;
}

.hr_lines {
    position: relative;
}

.h2_lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 5000px;
    position: absolute;
    top: 50%;
    right: 360px;
    background: #fff;
}

.h2_lines {
    position: relative;
}

.h2_lines {
    position: relative;
    /*  new lines  */
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

/*프로모션*/

.pm_inner {
    width: 1320px;
    margin: 0 auto;
    color: #000;

}

.pm_first {
    display: flex;
    justify-content: space-between;
}

.pm_inner h2 {
    padding: 90px 0px;
    font-size: 35px;
    font-weight: bold;
}

.pm_subtitle {
    margin: 90px 0px;


}

.pm_subtitle a {
    padding: 5px 10px;
    border: 2px solid #544973;
    border-radius: 25px 25px;
    color: #544973;
}

.pm_subtitle img {
    vertical-align: baseline;
}

.pm_subtitle a:hover {
    background-color: #544973;
    color: #fff;
    transition: all 0.5s;
}

.pm_list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.photo:hover img {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
    -webkit-filter: blur(3px);
    filter: blur(8px);
    opacity: 1;
}

.photo {
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: relative;
}

.pm_list p {
    font-weight: 800;
}

.detail {
    position: absolute;
    top: 50%;
    left: 30%;
    color: #ffffff;
    opacity: 0;
    font-size: 25px;
}

.photo:hover .detail {
    opacity: 1;
}

/*푸터*/
#footer {
    background: #292929;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.ft_left {
    display: flex;

}

.left_in {
    margin-left: 50px;
}

.left_ul {
    display: flex;

}

.left_ul li {
    margin-bottom: 30px;
}

.left_ul li a {
    color: #bdbdbd;
    font-size: 14px;
    padding: 0px 20px;
    border-right: 1px solid #b8b8b8;
    margin-bottom: 20px;
}

.left_ul li a:hover {
    color: #e7e7e7;
}

.left_ul li:nth-child(1) a {
    padding-left: 0px;
}

.left_ul li:nth-last-child(1) a {
    border: none;
}

.left_in p {
    font-size: 13px;
    font-weight: 100;
    color: #707070;
}

#family {

    background-color: #292929;
    color: #b8b8b8;
    width: 160px;
    padding: 5px;
    border: none;

    outline: none;
    /*폼관련 태그(input, textarea, select태그 등)를 사용하기 위해 클릭하면 바깥쪽에 생기는 검정 두꺼운 선을 없애는 코드*/
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /*화살표 배경 넣기*/
    background: #fff url('이미지경로') no-repeat 98% center;
}

.sns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.sns li {
    padding-left: 5px;
}

.ft_left {
    display: flex;

}

.left_in {
    margin-left: 50px;
}

.left_ul {
    display: flex;

}

.left_ul li {
    margin-bottom: 30px;
}

.left_ul li a {
    color: #a1a1a1;
    font-size: 14px;
    padding: 0px 20px;
    border-right: 1px solid #969696;
    margin-bottom: 20px;
}

.left_ul li a:hover {
    color: #e7e7e7;
    transition: all 0.5s
}

.left_ul li:nth-child(1) a {
    padding-left: 0px;
}

.left_ul li:nth-last-child(1) a {
    border: none;
}

.left_in p {
    font-size: 13px;
    font-weight: 100;
    color: #707070;
}

#family {
    font-family: pretendard;
    background-color: #292929;
    color: #b8b8b8;
    width: 160px;
    padding: 5px;
    border: none;
    outline: none;
    /*폼관련 태그(input, textarea, select태그 등)를 사용하기 위해 클릭하면 바깥쪽에 생기는 검정 두꺼운 선을 없애는 코드*/
}

.sns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.sns img {

    opacity: 0.5;
}

.sns img:hover {
    opacity: 1;
    transition: all 0.5s
}

.sns li {
    padding-left: 5px;

}

/*라스트배너*/
.last_banner {
    width: 1320px;
    margin: 50px auto;
}

.last_banner img {
    width: 1320px;
    padding-bottom: 100px;
}

/*버튼*/
#tbn a {
    color: #000000;
    background-color: #ffffff;
    padding: 15px 12px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    border-radius: 50%;
    z-index: 20;
    border: 1px solid black;
}

#tbn2 a {
    color: #000000;
    background-color: #ffffff;
    padding: 15px 13px;
    position: fixed;
    bottom: 95px;
    right: 30px;
    display: block;
    border-radius: 50%;
    z-index: 20;
    border: 1px solid black;

}

/*스크롤 권유*/

/**/
.scroll {
    position: relative;
}

.scroll b {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 9999;
}

.scroll>span {
    position: absolute;
    bottom: 140px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    z-index: 9999;
}

.scroll>span::before {
    position: absolute;
    bottom: 30px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.scrollLock {
    overflow: hidden;
}

/*커서 모양*/
.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: transform 100ms ease-out;
    mix-blend-mode: difference;
}

.cursor.cursor_expand {
    transform: scale(1.7);
}